
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

[class*="col-"] {
    float: left;
    padding: 0;

}


body{
    padding: 0;
    margin: 0;
}
html{
    padding: 0;
    margin: 0;
}
#container {
width:100%;
    height:auto;

}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/* For tablet: */
@media only screen and (max-width: 992px) and (min-width: 768px){
    .col-4{
        width: 50%;
        margin-bottom:10px;
    }
     .col-8{
     width: 100%;
    }
    .content-images {
        justify-content: left !important;
    }
    #header{
        background-color:rgb(85,99,112);
        border-color: rgb(85,99,112);
    }
    a{
        color:white !important;
    }
    .banner-img{
        display: none;
    }
    .banner-text{
      position: static !important;
        padding:4%;
        color:black !important;
    }
    #content{
        background-color:white !important;
    }
#body-content{
    background-color:white !important;
}
    #footer{
        background-color:white !important;
    }

    .content-images {
        background-color: white !important;
    }
}
/* For mobile: */
@media only screen and ( max-width:768px) {
    [class*="col-"] {
        width: 100%;
    }
    [class*="-menu"] {
        width: 20%;
        text-align: center;
    }
li{
    padding: inherit !important;
}

    .content-images {
        justify-content: left !important;
    }
    #header{
        background-color:rgb(85,99,112);

    }
    a{
        color:white !important;
        font-size:10px !important;
    }
    .banner-img{
        display: none;
    }
    .banner-text{
        position: static !important;
        padding-left:7%;
        padding-top: 5vw;
        color:black !important;
    }

    .body-content-header-text{
        margin-left: 7% !important;
    }
    #content{
        background-color:white !important;
    }
    #body-content{
        background-color:white !important;
    }
    #footer{
        background-color:white !important;
    }
    .content-images {
        background-color: white !important;
    }
    #header{
        display:block;
        height: 50px;
        margin:0 ;
        padding:10px 0 10px 0;
        width:100%;
    }
}


#header{
   display:block;
    height: 50px;
    margin:0 ;
    padding-top:5px;
    width:100%;
}
#menu {
    max-width:100%;
    position:relative;
}

ul{
    padding:0;
    margin:0;
}

li{
    display:inline-block;
    padding:inherit;

}
a{
    color:black;
    font-size:20px;
    margin-top:10px;
    padding-top:10px;
}
 a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
.left-menu{
    float:left;
   padding: 0 20px ;
    margin-top: 0;
}
.right-menu{
    float:right;
    padding:0 20px ;
    margin-top: 0;
}

#content{
    position:relative;
    width:100%;
    background-color:rgb(228,228,228);
    padding-top: 0;
}
.banner
   {
    display: flex;
    width:100%;
    position: relative;
    text-align: center;
    color:white;
    margin-top: 0;
    padding-top: 0;
}
.banner> .banner-img{
    display: block;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}
.banner-img{
    width:100%;
    margin-top:0;
    padding-top: 0;
    height:auto;
    object-fit: cover;
}
.banner-text{
    position: absolute;
    top: 15%;
    left: 10%;
    color:White;
}
.banner-title{
    font-size: 3vw;
}
.banner-description{
 font-size: 1vw;
}

#body-content{
    background-color:rgb(228,228,228);
    margin-bottom:20px;
    padding-bottom: 20px;
    height:auto;
}
.body-content-header-text{
    margin-left: 4%;
    margin-top: 3%;
    margin-bottom: 10px;
    width: 80%;
    height: auto;
}

.body-header-title-text{
    font-size: 3vw;
    font-weight: bold;
}
.body-header-description{
    font-size:2vw;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.content-images{
        background-color:rgb(228,228,228);
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        width:100%;
    }

[class*="img-"] {
    margin: auto;
    display: block;
    width: 85%;
    height: 85%;
}
.center {
    justify-content: center;
    margin: auto;
}
#footer{
    background-color:rgb(240,240,240);
    height: auto;
    padding-top:4vh;
    position:relative;
}
.footer-text{
    padding-left: 10%;
}
.footer-content{
    position: absolute;
}




